
.about{
    width: 100%;
    height: 80vh;
   
    display: flex;
    
    justify-content: center;
    align-items: center;

}
.profile{
    width: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.icon{
    width: 50px;
}
h3{
   color: rgb(112, 111, 111);
}
.my-image{
   width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image3{
    width: 100%;
    height: 40%;
    overflow: hidden;
    border-radius: 50%;
 
}
.a{
    color: rgb(120, 119, 119);
}
.vishal{
    width: 100%;
    height: 100%;
}
.text3{
    width: 60%;
   text-align: center;
}
.buttons{
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button{
    width: 110px;
    height: 33px;
    border-radius: 40px;
    color: rgb(82, 82, 82);
    background-color: white;
    font-size: 14px;

    border: 2px solid rgb(98, 98, 98);
    
   
}
button:hover{
    background-color: black;
    color: white;
}
.know-more{
    width: 100%;
    height: 100vh;
    
}
.heading1{
    width: 100%;
    height: 70px;
    text-align: center;
}
.content1{
    width: 100%;
    height: 50%;
    display: flex;
   
    align-items: center;
    justify-content: space-evenly;
    
}
.container1{
    width: 30%;
    height: 60%;
    text-align: center;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container2{
    width: 30%;
    height: 60%;
    text-align: center;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container3{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text2{
    width: 75%;
}
.content3{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.soft-skills{
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.skill1{
    width: 18%;
    height: 60%;
    padding: 20px;
    border: 2px solid rgb(98, 98, 98);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill2{
    width: 18%;
    height: 60%;
    padding: 20px;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill3{
    width: 18%;
    height: 60%;
    padding: 20px;
    border: 2px solid rgb(98, 98, 98);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill4{
    width: 18%;
    height: 60%;
    padding: 20px;
    border: 2px solid rgb(98, 98, 98);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill5{
    width: 18%;
    height: 60%;
    padding: 20px;
    border:2px solid rgb(98, 98, 98);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content4{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.interests{
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.interest1{
    width: 18%;
    height: 60%;
    padding: 20px;
    border: 2px solid rgb(98, 98, 98);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.interest2{
    width: 18%;
    height: 60%;
    padding: 20px;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.interest3{
    width: 18%;
    height: 60%;
    padding: 20px;
    border: 2px solid rgb(98, 98, 98);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.interest4{
    width: 18%;
    height: 60%;
    padding: 20px;
    border: 2px solid rgb(98, 98, 98);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.interest5{
    width: 18%;
    height: 60%;
    padding: 20px;
    border: 2px solid rgb(98, 98, 98);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading2{
    width: 100%;
    height: 70px;
    text-align: center;
}
@media screen and (max-width:667px) {
   .about{
    height: 70vh;
   }
    .profile{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .image3{
        display:none;
    }
    /* .my-image{
        width: 80%;
    } */
    .text3{
        width: auto;
    }
    /* .image{
        width: 120%;
        height: 30%;
    } */
    .know-more{
        height: 170vh;
    }
    .content1{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .container1{
        height: 20vh;
    }
    .container2{
        width: 60%;
        height: 40vh;
    }
    .content3{
        height: 100vh;
    }
    .soft-skills{
        width: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .skill1{
        width: 35%;
        height: 30%;
    }
    .skill2{
        width: 35%;
        height: 30%;
    }
    .skill3{
        width: 35%;
        height: 30%;
    }
    .skill4{
        width: 35%;
        height: 30%;
    }
    .skill5{
        width: 35%;
        height: 30%;
    }

    .interests{
        width: 150vh;
        display: flex;
        align-items: center;
        row-gap: 19px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .interest1{
        width: 35%;
        height: 33%;
    }
    .interest2{
        width: 35%;
        height: 33%;
    }
    .interest3{
        width: 35%;
        height: 33%;
    }
    .interest4{
        width: 35%;
        height: 33%;
    }
    .interest5{
        width: 35%;
        height: 33%;
    }
    
    

}
@media screen and (max-width:900px){
    .my-image{
        width: 80%;
    }
    .interests{
        width: 150vh;
        display: flex;
        align-items: center;
        row-gap: 19px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .interest1{
        width: 35%;
        height: 33%;
    }
    .interest2{
        width: 35%;
        height: 33%;
    }
    .interest3{
        width: 35%;
        height: 33%;
    }
    .interest4{
        width: 35%;
        height: 33%;
    }
    .interest5{
        width: 35%;
        height: 33%;
    }
}


